<% @events.each do |event| %>
    <div class="row">
        <div class="columns">
            <ul>   
                <li><%= event.name %></li>
                <li><%= event.location %></li>
                <li><%= event.date %></li>
                <li><%= event.number_of_women %></li>
                <li><%= event.number_of_men %></li>
                <li><%= event.organizer_name %></li>
                <li><%= event.organizer_url %></li>
                <li><%= number_to_percentage(event.percent_women, precision: 0) %></li>
                <li><%= link_to "Click here", event_path(event.id) %> </li>
            </ul>
        </div>
    </div>
<% end %> 
