<% @events.each do |event| %>
  <div class="row">
    <div class="large-12 columns">
      <h1><%= event.name %></h1>
    </div>
  </div>  

  
    <div class="row">
    <div class="large-6 columns">
      <p>
      <%= link_to event.organizer_name, event.organizer_url %>
      </p>
      <p>
      <%= event.location %>
      </p>
      <p>
      <%= event.date %> 
      </p>
      <p>
      <%= link_to "Click here", event_path(event.id) %>
      </p>
    </div>  
    <div class="large-6 columns">
      <p>
      <%= event.number_of_women %> Women
      </p>
      <p>
      <%= event.number_of_men %> Men
      </p>

      <div class="chart" data-men="<%= event.number_of_men %>" data-women="<%= event.number_of_women %>"></div>
    </div>  
  </div>
<% end %>

<% content_for(:js) do %>
<script>
$(document).ready(function() {
  $(".chart").each(function() {
    var height = $(this).height();
    var width = $(this).width();
    var pie = new d3pie(this, { 
      "data": {
        "content": [
          {
            "label": "Men",
            "value": $(this).data("men"),
            "color": "#fa0"
          },
          {
            "label": "Women",
            "value": $(this).data("women"),
            "color": "#00ffb3"
          } 
        ]
      },
      "size": {
        "canvasHeight": height,
        "canvasWidth": width
      },
      "labels" : {
        "outer" : {
          "format": "none",
          "pieDistance" : 0
        }
      }
    });
  });   
});
</script>
<% end %>


