<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @event do |f| %>
 <p> <%= f.input(:name) %> </p>
 <p> <%= f.input(:location) %> </p>
 <p> <%= f.label(:date) %> <%= f.date_field(:date) %> </p>
 <p> <%= f.input(:organizer_url) %> </p>
 <p> <%= f.input(:number_of_women) %> </p>
 <p> <%= f.input(:number_of_men) %> </p>
 <p> <%= f.input(:organizer_name) %> </p>
 <p> <%= f.button :submit %> </p>
<% end %>
