<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event do |f| %>
 <p> <%= f.label(:name) %> <%= f.text_field :name %> </p>
 <p> <%= f.label(:location) %> <%= f.text_field :location %></p>
 <p> <%= f.label(:date) %> <%= f.date_field :date %> </p>
 <p> <%= f.label(:organizer_url) %> <%= f.url_field :organizer_url %> </p>
 <p> <%= f.label(:number_of_women) %> <%= f.number_field :number_of_women %> </p>
 <p> <%= f.label(:number_of_men) %> <%= f.number_field :number_of_men %> </p>
 <p> <%= f.label(:organizer_name) %> <%= f.text_field :organizer_name %> </p>
 <p> <%= f.submit "Create" %> </p>
<% end %>
