<div class="row">
  <div class="large-12 columns">
    <h1><%= @event.name %></h1>
  </div>
</div>  

<div class="row">
  <div class="large-6 columns">
    <p>
    <%= link_to @event.organizer_name, @event.organizer_url %>
    </p>
    <p>
    <%= @event.location %>
    </p>
    <p>
    <%= @event.date %> 
    </p>
  </div>  
  <div class="large-6 columns">
    <p>
    <%= @event.number_of_women %> Women
    </p>
    <p>
    <%= @event.number_of_men %> Men
    </p>
  </div>  
</div>

<div class = row>  
  <div class="large-6 columns">
  </div>
  <div class="large-6 columns"> 
    <%= link_to ('<i class="fa fa-trash fa-2x"></i>').html_safe, @event, :method => :delete, :confirm => "are you sure?" %>
  
    <%= link_to ('<i class="fa fa-pencil fa-2x"></i>').html_safe, edit_event_path(@event) %>
  </div> 
</div>


 <div id="myPie"></div>
 <% content_for(:js) do %>
 <script>
 $(document).ready(
  function() {
    var pie = new d3pie("myPie", { 
      "data": {
        "content": [
        {
        "label": "Men",
        "value": <%= @event.number_of_men %>,
        "color": "#7e3838"
        },
        {
        "label": "Women",
        "value": <%= @event.number_of_women %>,
        "color": "#7e6538"
        } 
      ]
    }
  });
  }
  );
</script>
<% end %>

