<div class="row">
  <div class="large-12 columns">
    <h1><%= @event.name %></h1>
      <h2>
        <% @event.tags.each do |tag| %>
          <%= link_to(("#" + tag.name), tag_path(tag)) %>
        <% end %>   
      </h2>

  </div>
</div>  

<div class="row">
  <div class="large-6 columns">
    <p>
    <%= link_to @event.organizer_name, @event.organizer_url %>
    </p>
    <p>
    <%= @event.location %>
    </p>
    <p>
    <%= @event.date %> 
    </p>
    <div id="myPie">

    </div>
  </div>  
  <div class="large-6 columns">
    <p>
    <%= @event.number_of_women %> Women
    </p>
    <p>
    <%= @event.number_of_men %> Men
    </p>
    <p>
      <%= link_to ('<i class="fa fa-trash fa-2x"></i>').html_safe, @event, :method => :delete, :confirm => "are you sure?" %>
  
      <%= link_to ('<i class="fa fa-pencil fa-2x"></i>').html_safe, edit_event_path(@event) %>
    </p>  
  </div>  
</div>


 <% content_for(:js) do %>
 <script>
 $(document).ready(function() {
  $("#myPie").width();
  var pie_div = $("#myPie");
  var width = pie_div.width();

  var pie = new d3pie(pie_div[0], { 
    "data": {
      "content": [
        {
          "label": "Men",
          "value": <%= @event.number_of_men %>,
          "color": "hsla(40, 98%, 49%, 1)"
        },
        {
          "label": "Women",
          "value": <%= @event.number_of_women %>,
          "color": "hsla(180, 65%, 57%, 1)"
        } 
      ]
    },
    "size": {
      "canvasHeight": width,
      "canvasWidth": width
    }
  });
});
</script>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'All Events', events_path %>
  </div>
</div>



