<div class="row">
  <div class="large-6 columns">
    <h1> New tag </h1>
    <%= simple_form_for @tag do |f| %>
      <%= f.input(:name) %>
      <%= f.input(:description) %>
      <%= f.input(:slug) %> 
      <%= f.button(:submit) %>
    <% end %>
  </div>
</div>